flows.json
[
  {
    "id": "b7d6c0b9c8cf00d5",
    "type": "tab",
    "label": "HTL-IOT-PROCESAMIENTO",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f9b8f9ba238c2d7e",
    "type": "mqtt in",
    "z": "b7d6c0b9c8cf00d5",
    "name": "mqtt in datos",
    "topic": "${TOPICO_DATOS}",
    "qos": "1",
    "datatype": "utf8",
    "broker": "a1b2c3d4e5f60111",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 120,
    "wires": [["c662ce57ec9b1ac2"]]
  },
  {
    "id": "c662ce57ec9b1ac2",
    "type": "json",
    "z": "b7d6c0b9c8cf00d5",
    "name": "parse json datos",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 320,
    "y": 120,
    "wires": [["168c88cfda65fff7"]]
  },
  {
    "id": "168c88cfda65fff7",
    "type": "function",
    "z": "b7d6c0b9c8cf00d5",
    "name": "validar + normalizar payload",
    "func": "const p = msg.payload || {};\n\nif (typeof p !== 'object' || p === null || Array.isArray(p)) {\n    msg.error = 'payload no es un objeto JSON valido';\n    return [null, msg];\n}\n\nfunction toNumberOrNull(v) {\n    if (v === null || v === undefined || v === '') return null;\n    const n = Number(v);\n    return Number.isFinite(n) ? n : null;\n}\n\nfunction toBoolean(v, fallback = false) {\n    if (typeof v === 'boolean') return v;\n    if (typeof v === 'number') return v > 0;\n    if (typeof v === 'string') {\n        const x = v.trim().toLowerCase();\n        return x === '1' || x === 'true' || x === 'on' || x === 'si' || x === 'yes';\n    }\n    return fallback;\n}\n\nfunction normalizeTimestamp(raw) {\n    if (raw === null || raw === undefined || raw === '') return null;\n\n    if (typeof raw === 'number' && Number.isFinite(raw)) {\n        const epoch = raw < 1e12 ? raw * 1000 : raw;\n        const dt = new Date(epoch);\n        return Number.isFinite(dt.getTime()) ? dt.toISOString() : null;\n    }\n\n    if (typeof raw === 'string') {\n        const value = raw.trim();\n        if (!value) return null;\n\n        if (/^\\d+$/.test(value)) {\n            const epoch = Number(value);\n            if (Number.isFinite(epoch)) {\n                const ms = epoch < 1e12 ? epoch * 1000 : epoch;\n                const dtEpoch = new Date(ms);\n                return Number.isFinite(dtEpoch.getTime()) ? dtEpoch.toISOString() : null;\n            }\n        }\n\n        const parsed = Date.parse(value);\n        if (Number.isFinite(parsed)) {\n            return new Date(parsed).toISOString();\n        }\n    }\n\n    return null;\n}\n\nlet idHabitacion = String(p.id_habitacion ?? p.habitacion ?? p.room ?? '').trim();\nconst contextoRaw = String(p.contexto_hotel ?? p.room_context ?? 'LIBRE').trim().toUpperCase();\nconst contextoHotel = ['LIBRE', 'RESERVADA', 'FUMIGACION'].includes(contextoRaw) ? contextoRaw : 'LIBRE';\nconst rawTimestamp = p.timestamp ?? p.timestamp_ms ?? Date.now();\nlet timestamp = normalizeTimestamp(rawTimestamp);\nconst temperaturaC = toNumberOrNull(p.temperatura_C ?? p.temperature_C);\nconst humedadPct = toNumberOrNull(p.humedad_pct ?? p.humidity_pct);\nconst fosfinaMq135 = toNumberOrNull(p.fosfina_mq135 ?? p.mq135);\nconst coMq7 = toNumberOrNull(p.co_mq7 ?? p.mq7);\nconst ph3Ppm = toNumberOrNull(p.ph3_ppm);\nconst coPpm = toNumberOrNull(p.co_ppm);\nconst intervaloEnvioMs = toNumberOrNull(p.intervalo_envio_ms);\nconst presenciaPir = toBoolean(p.presencia_pir ?? p.motion, false);\nconst dhtOk = typeof p.dht_ok === 'boolean' ? p.dht_ok : null;\n\nconst out = {\n    id_habitacion: idHabitacion || 'DESCONOCIDO',\n    contexto_hotel: contextoHotel,\n    timestamp: timestamp || new Date().toISOString(),\n    sistema_activo: typeof p.sistema_activo === 'boolean' ? p.sistema_activo : null,\n    intervalo_envio_ms: intervaloEnvioMs,\n    fosfina_mq135: fosfinaMq135,\n    co_mq7: coMq7,\n    presencia_pir: presenciaPir,\n    evento_pir: p.evento_pir ? String(p.evento_pir) : null,\n    temperatura_C: temperaturaC,\n    humedad_pct: humedadPct,\n    ph3_ppm: ph3Ppm,\n    co_ppm: coPpm,\n    dht_ok: dhtOk,\n    error: p.error ? String(p.error) : null\n};\n\nconst issues = [];\nconst markIssue = (issue) => {\n    if (issue && !issues.includes(issue)) {\n        issues.push(issue);\n    }\n};\n\nif (!idHabitacion) markIssue('id_habitacion_faltante');\nif (!timestamp) markIssue('timestamp_invalido');\nif (contextoRaw && contextoRaw !== contextoHotel) markIssue('contexto_normalizado');\nif (!Number.isFinite(fosfinaMq135)) markIssue('fosfina_mq135_invalido');\nif (!Number.isFinite(coMq7)) markIssue('co_mq7_invalido');\nif (!Number.isFinite(temperaturaC) && dhtOk !== false) markIssue('temperatura_faltante');\nif (!Number.isFinite(humedadPct) && dhtOk !== false) markIssue('humedad_faltante');\nif (Number.isFinite(temperaturaC) && (temperaturaC < -20 || temperaturaC > 80)) markIssue('temperatura_fuera_rango');\nif (Number.isFinite(humedadPct) && (humedadPct < 0 || humedadPct > 100)) markIssue('humedad_fuera_rango');\nif (Number.isFinite(intervaloEnvioMs) && (intervaloEnvioMs < 1000 || intervaloEnvioMs > 60000)) markIssue('intervalo_fuera_rango');\nif (dhtOk === false) markIssue('dht_fallo');\nif (out.error) markIssue('error_sensor');\n\nconst parsedTimestamp = Date.parse(timestamp);\nif (Number.isFinite(parsedTimestamp)) {\n    const lastTsKey = 'last_timestamp_' + (idHabitacion || 'desconocido');\n    const lastTs = Number(flow.get(lastTsKey) || 0);\n    const gapLimit = Number.isFinite(intervaloEnvioMs) && intervaloEnvioMs > 0\n        ? Math.max(intervaloEnvioMs * 3, 30000)\n        : Number(env.get('TEMPORAL_GAP_MAX_MS') || 120000);\n    if (lastTs > 0) {\n        const gap = parsedTimestamp - lastTs;\n        if (gap > gapLimit) {\n            markIssue('hueco_temporal_' + gap + 'ms');\n        }\n    }\n    flow.set(lastTsKey, parsedTimestamp);\n}\n\nconst issueCount = issues.length;\nconst estadoCalidad = issueCount === 0 ? 'OK' : (issueCount === 1 ? 'OBSERVADO' : 'MULTIPLE');\nconst motivoCalidad = issueCount > 0 ? issues.join('; ') : null;\nconst firmaMedicion = [\n    out.id_habitacion,\n    out.timestamp,\n    out.contexto_hotel,\n    Number.isFinite(out.temperatura_C) ? out.temperatura_C.toFixed(2) : 'NULL',\n    Number.isFinite(out.humedad_pct) ? out.humedad_pct.toFixed(2) : 'NULL',\n    Number.isFinite(out.fosfina_mq135) ? out.fosfina_mq135.toFixed(2) : 'NULL',\n    Number.isFinite(out.co_mq7) ? out.co_mq7.toFixed(2) : 'NULL',\n    Number.isFinite(out.ph3_ppm) ? out.ph3_ppm.toFixed(2) : 'NULL',\n    Number.isFinite(out.co_ppm) ? out.co_ppm.toFixed(2) : 'NULL',\n    out.presencia_pir ? 1 : 0,\n    Number.isFinite(out.intervalo_envio_ms) ? out.intervalo_envio_ms : 'NULL'\n].join('|');\n\nmsg.rawPayload = p;\nmsg.validation_issues = issues;\nmsg.payload = {\n    ...out,\n    tiene_problema: issueCount > 0 ? 1 : 0,\n    estado_calidad: estadoCalidad,\n    motivo_calidad: motivoCalidad,\n    firma_medicion: firmaMedicion\n};\n\nreturn [msg, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 120,
    "wires": [["0d9627be4652cda1"], ["0b9326811c83e391"]]
  },
  {
    "id": "0b9326811c83e391",
    "type": "debug",
    "z": "b7d6c0b9c8cf00d5",
    "name": "debug payload invalido",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "error",
    "targetType": "msg",
    "statusVal": "error",
    "statusType": "msg",
    "x": 840,
    "y": 180,
    "wires": []
  },
  {
    "id": "0d9627be4652cda1",
    "type": "function",
    "z": "b7d6c0b9c8cf00d5",
    "name": "procesar estados (backend)",
    "func": "const p = msg.payload || {};\n\nconst contextFromPayload = String(p.contexto_hotel || '').toUpperCase();\nconst validContexts = ['LIBRE', 'RESERVADA', 'FUMIGACION'];\nlet contexto = flow.get('estado_habitacion') || 'LIBRE';\nif (validContexts.includes(contextFromPayload) && contextFromPayload !== contexto) {\n    contexto = contextFromPayload;\n    flow.set('estado_habitacion', contexto);\n}\n\nconst PH3_PEL = Number(env.get('PH3_PEL_PPM') || 0.3);\nconst PH3_STEL = Number(env.get('PH3_STEL_PPM') || 1.0);\nconst PH3_IRRIT_LOW = Number(env.get('PH3_IRRIT_LOW_PPM') || 5);\nconst PH3_IRRIT_HIGH = Number(env.get('PH3_IRRIT_HIGH_PPM') || 10);\nconst PH3_IDLH = Number(env.get('PH3_IDLH_PPM') || 50);\nconst PH3_LETHAL_LOW = Number(env.get('PH3_LETHAL_LOW_PPM') || 400);\n\nconst CO_PEL = Number(env.get('CO_PEL_PPM') || 50);\nconst CO_HEADACHE = Number(env.get('CO_HEADACHE_PPM') || 200);\nconst CO_STEL = Number(env.get('CO_STEL_PPM') || 400);\nconst CO_SEVERE = Number(env.get('CO_SEVERE_PPM') || 800);\nconst CO_IDLH = Number(env.get('CO_IDLH_PPM') || 1500);\n\nconst TEMP_ALERTA = Number(env.get('TEMP_ALERTA_C') || 35);\nconst TEMP_INCENDIO = Number(env.get('UMBRAL_TEMP_INCENDIO') || 45);\nconst HUM_RIESGO_MIN = Number(env.get('HUM_RIESGO_MIN_PCT') || 30);\nconst HUM_RIESGO_MAX = Number(env.get('HUM_RIESGO_MAX_PCT') || 60);\n\nconst MQ135_MIN = Number(env.get('MQ135_RAW_MIN') || 0);\nconst MQ135_MAX = Number(env.get('MQ135_RAW_MAX') || 4095);\nconst MQ7_MIN = Number(env.get('MQ7_RAW_MIN') || 0);\nconst MQ7_MAX = Number(env.get('MQ7_RAW_MAX') || 4095);\nconst MQ135_PPM_MAX = Number(env.get('PH3_PPM_MAX_EST') || 120);\nconst MQ7_PPM_MAX = Number(env.get('CO_PPM_MAX_EST') || 2000);\n\nfunction clamp(v, lo, hi) {\n    return Math.max(lo, Math.min(hi, v));\n}\n\nfunction mapRawToPpm(raw, inMin, inMax, outMax) {\n    const x = clamp(Number(raw), inMin, inMax);\n    const ratio = (x - inMin) / Math.max(1, (inMax - inMin));\n    return ratio * outMax;\n}\n\nfunction hasNum(v) {\n    return Number.isFinite(Number(v));\n}\n\nfunction fmt(v) {\n    return Number.isFinite(Number(v)) ? Number(Number(v).toFixed(2)) : null;\n}\n\nconst ph3Ppm = hasNum(p.ph3_ppm) ? Number(p.ph3_ppm) : mapRawToPpm(p.fosfina_mq135, MQ135_MIN, MQ135_MAX, MQ135_PPM_MAX);\nconst coPpm = hasNum(p.co_ppm) ? Number(p.co_ppm) : mapRawToPpm(p.co_mq7, MQ7_MIN, MQ7_MAX, MQ7_PPM_MAX);\nconst tempC = hasNum(p.temperatura_C) ? Number(p.temperatura_C) : null;\nconst humPct = hasNum(p.humedad_pct) ? Number(p.humedad_pct) : null;\n\nconst severity = { NORMAL: 0, ALERTA: 1, EMERGENCIA: 2 };\nlet estado = 'NORMAL';\nlet razon = 'sin_alertas';\nlet nivel_alerta = 'NORMAL';\nlet color_alerta = 'green';\nconst motivos = [];\n\nfunction addMotivo(category, code, detail) {\n    const base = `${category}:${code}`;\n    motivos.push(detail ? `${base}|${detail}` : base);\n    return base;\n}\n\nfunction setEstado(nuevoEstado, razonBase, nivel, color) {\n    if (severity[nuevoEstado] > severity[estado]) {\n        estado = nuevoEstado;\n        razon = razonBase;\n        nivel_alerta = nivel;\n        color_alerta = color;\n    }\n}\n\nif (contexto === 'FUMIGACION') {\n    if (p.presencia_pir) {\n        const reason = addMotivo('presencia', 'intruso_fumigacion', 'pir=1');\n        setEstado('EMERGENCIA', reason, 'CRITICO: INTRUSO EN FUMIGACION', 'red');\n    }\n    if (ph3Ppm >= PH3_IDLH) {\n        const reason = addMotivo('gas', 'ph3_idlh', `ph3_ppm=${fmt(ph3Ppm)}`);\n        setEstado('EMERGENCIA', reason, 'CRITICO: FOSFINA SOBRE IDLH', 'red');\n    }\n    if (coPpm >= CO_IDLH) {\n        const reason = addMotivo('gas', 'co_idlh', `co_ppm=${fmt(coPpm)}`);\n        setEstado('EMERGENCIA', reason, 'CRITICO: CO IDLH', 'red');\n    }\n    if (tempC !== null && tempC >= TEMP_INCENDIO) {\n        const reason = addMotivo('temperatura', 'incendio', `temp_C=${fmt(tempC)}`);\n        setEstado('EMERGENCIA', reason, 'CRITICO: CONATO DE INCENDIO', 'red');\n    }\n    if (ph3Ppm >= PH3_PEL) {\n        const reason = addMotivo('gas', 'ph3_pel', `ph3_ppm=${fmt(ph3Ppm)}`);\n        setEstado('ALERTA', reason, 'ALERTA: FOSFINA SOBRE PEL', 'yellow');\n    }\n    if (coPpm >= CO_PEL) {\n        const reason = addMotivo('gas', 'co_pel', `co_ppm=${fmt(coPpm)}`);\n        setEstado('ALERTA', reason, 'ALERTA: CO SOBRE PEL', 'yellow');\n    }\n    if (tempC !== null && tempC >= TEMP_ALERTA) {\n        const reason = addMotivo('temperatura', 'elevada', `temp_C=${fmt(tempC)}`);\n        setEstado('ALERTA', reason, 'ALERTA: TEMPERATURA ELEVADA', 'yellow');\n    }\n} else {\n    if (ph3Ppm >= PH3_LETHAL_LOW) {\n        const reason = addMotivo('gas', 'ph3_letal', `ph3_ppm=${fmt(ph3Ppm)}`);\n        setEstado('EMERGENCIA', reason, 'CRITICO: FOSFINA NIVEL LETAL', 'red');\n    }\n    if (coPpm >= CO_IDLH) {\n        const reason = addMotivo('gas', 'co_idlh', `co_ppm=${fmt(coPpm)}`);\n        setEstado('EMERGENCIA', reason, 'CRITICO: CO IDLH', 'red');\n    }\n    if (tempC !== null && tempC >= TEMP_INCENDIO) {\n        const reason = addMotivo('temperatura', 'incendio', `temp_C=${fmt(tempC)}`);\n        setEstado('EMERGENCIA', reason, 'CRITICO: CONATO DE INCENDIO', 'red');\n    }\n    if (ph3Ppm >= PH3_IDLH) {\n        const reason = addMotivo('gas', 'ph3_idlh', `ph3_ppm=${fmt(ph3Ppm)}`);\n        setEstado('ALERTA', reason, 'ALERTA: FOSFINA SOBRE IDLH', 'yellow');\n    }\n    if (coPpm >= CO_SEVERE) {\n        const reason = addMotivo('gas', 'co_severo', `co_ppm=${fmt(coPpm)}`);\n        setEstado('ALERTA', reason, 'ALERTA: CO NIVEL SEVERO', 'yellow');\n    }\n    if (tempC !== null && tempC >= TEMP_ALERTA) {\n        const reason = addMotivo('temperatura', 'elevada', `temp_C=${fmt(tempC)}`);\n        setEstado('ALERTA', reason, 'ALERTA: TEMPERATURA ELEVADA', 'yellow');\n    }\n    if (ph3Ppm >= PH3_IRRIT_LOW) {\n        const reason = addMotivo('gas', 'ph3_irritacion', `ph3_ppm=${fmt(ph3Ppm)}`);\n        setEstado('ALERTA', reason, 'ALERTA: IRRITACION POR FOSFINA', 'yellow');\n    }\n    if (coPpm >= CO_STEL) {\n        const reason = addMotivo('gas', 'co_stel', `co_ppm=${fmt(coPpm)}`);\n        setEstado('ALERTA', reason, 'ALERTA: CO SOBRE STEL', 'yellow');\n    }\n    if (ph3Ppm >= PH3_STEL) {\n        const reason = addMotivo('gas', 'ph3_stel', `ph3_ppm=${fmt(ph3Ppm)}`);\n        setEstado('ALERTA', reason, 'ALERTA: FOSFINA SOBRE STEL', 'yellow');\n    }\n    if (coPpm >= CO_HEADACHE) {\n        const reason = addMotivo('gas', 'co_cefalea', `co_ppm=${fmt(coPpm)}`);\n        setEstado('ALERTA', reason, 'ALERTA: CO POSIBLE CEFALEA', 'yellow');\n    }\n    if (ph3Ppm >= PH3_PEL) {\n        const reason = addMotivo('gas', 'ph3_pel', `ph3_ppm=${fmt(ph3Ppm)}`);\n        setEstado('ALERTA', reason, 'ALERTA: FOSFINA SOBRE PEL', 'yellow');\n    }\n    if (coPpm >= CO_PEL) {\n        const reason = addMotivo('gas', 'co_pel', `co_ppm=${fmt(coPpm)}`);\n        setEstado('ALERTA', reason, 'ALERTA: CO SOBRE PEL', 'yellow');\n    }\n}\n\nif (Number.isFinite(humPct) && (humPct < HUM_RIESGO_MIN || humPct > HUM_RIESGO_MAX)) {\n    const reason = addMotivo('humedad', 'fuera_rango', `hum_pct=${fmt(humPct)}`);\n    setEstado('ALERTA', reason, 'ALERTA: HUMEDAD FUERA DE RANGO', 'yellow');\n}\n\nconst statusText = String(p.id_habitacion || '') + ' | ' + estado;\nif (estado === 'EMERGENCIA') {\n    node.status({ fill: 'red', shape: 'dot', text: statusText.slice(0, 64) });\n} else if (estado === 'ALERTA') {\n    node.status({ fill: 'yellow', shape: 'dot', text: statusText.slice(0, 64) });\n} else {\n    node.status({ fill: 'green', shape: 'dot', text: statusText.slice(0, 64) });\n}\n\nconst motivoActivacion = motivos.length ? motivos.join('; ') : 'sin_alertas';\n\nmsg.payload = {\n    ...p,\n    id_habitacion: p.id_habitacion,\n    contexto_hotel: contexto,\n    estado_riesgo: estado,\n    razon_riesgo: razon,\n    motivo_activacion: motivoActivacion,\n    nivel_alerta,\n    color_alerta,\n    ph3_ppm: Number.isFinite(ph3Ppm) ? Number(ph3Ppm.toFixed(2)) : null,\n    co_ppm: Number.isFinite(coPpm) ? Number(coPpm.toFixed(2)) : null,\n    timestamp: p.timestamp,\n    timestamp_servidor: new Date().toISOString()\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 120,
    "wires": [["2288e4f69a485380", "f763f562a6d47815"]]
  },
  {
    "id": "f763f562a6d47815",
    "type": "function",
    "z": "b7d6c0b9c8cf00d5",
    "name": "build SQL insert bruta",
    "func": "const p = msg.payload || {};\n\nfunction toNumberOrNull(v, digits = null) {\n    const n = Number(v);\n    if (!Number.isFinite(n)) return null;\n    return digits === null ? n : Number(n.toFixed(digits));\n}\n\nfunction toMysqlDateTime(isoLike) {\n    const dt = new Date(isoLike);\n    if (!Number.isFinite(dt.getTime())) {\n        const now = new Date();\n        return now.toISOString().slice(0, 19).replace('T', ' ');\n    }\n    return dt.toISOString().slice(0, 19).replace('T', ' ');\n}\n\nmsg.idHabitacion = String(p.id_habitacion || 'N/A');\nmsg.contextoHotel = String(p.contexto_hotel || 'LIBRE');\nmsg.estadoRiesgo = String(p.estado_riesgo || 'INVALIDO').toUpperCase();\nmsg.razonRiesgo = String(p.razon_riesgo || 'sin_razon');\nmsg.nivelAlerta = String(p.nivel_alerta || 'N/A');\nmsg.colorAlerta = String(p.color_alerta || 'grey');\n\nmsg.topic = 'INSERT INTO mediciones_brutas (id_habitacion, contexto_hotel, temperatura_c, humedad_pct, fosfina_mq135, co_mq7, presencia_pir, intervalo_envio_ms, timestamp_origen) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)';\nmsg.payload = [\n    msg.idHabitacion,\n    msg.contextoHotel,\n    toNumberOrNull(p.temperatura_C, 2),\n    toNumberOrNull(p.humedad_pct, 2),\n    toNumberOrNull(p.fosfina_mq135, 2),\n    toNumberOrNull(p.co_mq7, 2),\n    p.presencia_pir ? 1 : 0,\n    toNumberOrNull(p.intervalo_envio_ms),\n    toMysqlDateTime(p.timestamp)\n];\nmsg.queryType = 'insert_bruta';\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1140,
    "y": 80,
    "wires": [["dca3b24a91085534"]]
  },
  {
    "id": "f8ea723cc2bc635b",
    "type": "function",
    "z": "b7d6c0b9c8cf00d5",
    "name": "build SQL insert estado",
    "func": "const medicionId = Number(msg.payload && msg.payload.insertId);\nif (!Number.isFinite(medicionId) || medicionId <= 0) {\n    return null;\n}\n\nmsg.medicionId = medicionId;\nif (msg.idHabitacion) {\n    flow.set(`last_medicion_${msg.idHabitacion}`, medicionId);\n}\n\nmsg.topic = 'INSERT INTO estados_medicion (medicion_id, estado_riesgo, razon_riesgo, color_alerta) VALUES (?, ?, ?, ?)';\nmsg.payload = [\n    medicionId,\n    String(msg.estadoRiesgo || 'INVALIDO').toUpperCase(),\n    String(msg.razonRiesgo || ''),\n    String(msg.colorAlerta || 'grey')\n];\nmsg.queryType = 'insert_estado';\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1160,
    "y": 120,
    "wires": [["dca3b24a91085534"]]
  },
  {
    "id": "2288e4f69a485380",
    "type": "switch",
    "z": "b7d6c0b9c8cf00d5",
    "name": "ESTADOS",
    "property": "payload.estado_riesgo",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "NORMAL",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ALERTA",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "EMERGENCIA",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 1080,
    "y": 240,
    "wires": [
      ["f3051d0a930d0937", "2e03c35144a59e1e"],
      ["0f1953d279663222", "2e03c35144a59e1e"],
      ["d1a88de4b3256373", "2e03c35144a59e1e"],
      ["4aebca3950c2d155"]
    ]
  },
  {
    "id": "2e03c35144a59e1e",
    "type": "function",
    "z": "b7d6c0b9c8cf00d5",
    "name": "politica comandos",
    "func": "const src = msg.payload || {};\nconst risk = String(src.estado_riesgo || '').toUpperCase();\nif (!['NORMAL', 'ALERTA', 'EMERGENCIA'].includes(risk)) return null;\n\nconst intervalByRisk = {\n    NORMAL: Number(env.get('SAMPLE_MS_NORMAL') || 15000),\n    ALERTA: Number(env.get('SAMPLE_MS_ALERTA') || 7000),\n    EMERGENCIA: Number(env.get('SAMPLE_MS_EMERGENCIA') || 3000)\n};\n\nconst intervalMs = Number(intervalByRisk[risk]);\nif (!Number.isFinite(intervalMs) || intervalMs <= 0) return null;\n\nconst contexto = flow.get('estado_habitacion') || String(src.contexto_hotel || 'LIBRE').toUpperCase();\nconst idHabitacion = String(src.id_habitacion || '').trim();\nif (!idHabitacion) return null;\n\nconst cooldownMs = Number(env.get('CMD_COOLDOWN_MS') || 15000);\nconst now = Date.now();\nconst lastAt = Number(flow.get('last_cmd_at') || 0);\nconst lastSig = flow.get('last_cmd_sig') || '';\nconst sig = `${idHabitacion}|${risk}|${contexto}|${intervalMs}`;\n\nif ((now - lastAt) < cooldownMs && lastSig === sig) {\n    return null;\n}\n\nflow.set('last_cmd_at', now);\nflow.set('last_cmd_sig', sig);\n\nmsg.commandMeta = {\n    id_habitacion: idHabitacion,\n    estado_riesgo: risk,\n    contexto_hotel: contexto,\n    motivo_activacion: String(src.motivo_activacion || src.razon_riesgo || src.nivel_alerta || 'ajuste_automatico'),\n    intervalo_objetivo_ms: intervalMs,\n    timestamp_origen: src.timestamp || null\n};\n\nconst baseTopic = env.get('TOPICO_COMANDOS') || 'alejandro.bravo_isa@uao.edu.co/comandos';\nmsg.topic = baseTopic;\nmsg.payload = {\n    estado: contexto,\n    sample_interval_ms: intervalMs,\n    id_habitacion: idHabitacion\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1310,
    "y": 280,
    "wires": [["80fc9f72dc148d75", "5b960acf29f7316e", "240b2d8068f981ea"]]
  },
  {
    "id": "240b2d8068f981ea",
    "type": "function",
    "z": "b7d6c0b9c8cf00d5",
    "name": "build SQL insert evento",
    "func": "const meta = msg.commandMeta || {};\nif (!meta.id_habitacion) {\n    return null;\n}\n\nfunction toMysqlDateTime(isoLike) {\n    const dt = new Date(isoLike);\n    if (!Number.isFinite(dt.getTime())) {\n        return null;\n    }\n    return dt.toISOString().slice(0, 19).replace('T', ' ');\n}\n\nconst lastId = flow.get(`last_medicion_${meta.id_habitacion}`);\nconst medicionId = Number.isFinite(Number(lastId)) ? Number(lastId) : null;\n\nmsg.topic = 'INSERT INTO eventos_actuadores (medicion_id, id_habitacion, estado_riesgo, contexto_hotel, motivo_activacion, intervalo_objetivo_ms, timestamp_origen) VALUES (?, ?, ?, ?, ?, ?, ?)';\nmsg.payload = [\n    medicionId,\n    String(meta.id_habitacion),\n    String(meta.estado_riesgo || 'INVALIDO').toUpperCase(),\n    String(meta.contexto_hotel || 'LIBRE').toUpperCase(),\n    String(meta.motivo_activacion || 'sin_motivo'),\n    Number.isFinite(Number(meta.intervalo_objetivo_ms)) ? Number(meta.intervalo_objetivo_ms) : null,\n    toMysqlDateTime(meta.timestamp_origen)\n];\nmsg.queryType = 'insert_evento';\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1570,
    "y": 280,
    "wires": [["dca3b24a91085534"]]
  },
  {
    "id": "80fc9f72dc148d75",
    "type": "mqtt out",
    "z": "b7d6c0b9c8cf00d5",
    "name": "mqtt out comandos",
    "topic": "${TOPICO_COMANDOS}",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "a1b2c3d4e5f60111",
    "x": 1560,
    "y": 220,
    "wires": []
  },
  {
    "id": "5b960acf29f7316e",
    "type": "debug",
    "z": "b7d6c0b9c8cf00d5",
    "name": "debug comando emitido",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1580,
    "y": 320,
    "wires": []
  },
  {
    "id": "f3051d0a930d0937",
    "type": "debug",
    "z": "b7d6c0b9c8cf00d5",
    "name": "debug NORMAL",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.nivel_alerta",
    "statusType": "msg",
    "x": 1320,
    "y": 380,
    "wires": []
  },
  {
    "id": "0f1953d279663222",
    "type": "debug",
    "z": "b7d6c0b9c8cf00d5",
    "name": "debug ALERTA",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.nivel_alerta",
    "statusType": "msg",
    "x": 1320,
    "y": 420,
    "wires": []
  },
  {
    "id": "d1a88de4b3256373",
    "type": "debug",
    "z": "b7d6c0b9c8cf00d5",
    "name": "debug EMERGENCIA",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.nivel_alerta",
    "statusType": "msg",
    "x": 1340,
    "y": 460,
    "wires": []
  },
  {
    "id": "4aebca3950c2d155",
    "type": "debug",
    "z": "b7d6c0b9c8cf00d5",
    "name": "debug OTROS/INVALIDO",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "error",
    "statusType": "msg",
    "x": 1350,
    "y": 500,
    "wires": []
  },
  {
    "id": "dca3b24a91085534",
    "type": "mysql",
    "z": "b7d6c0b9c8cf00d5",
    "mydb": "d9f3d61e3a4c0aaa",
    "name": "mysql query",
    "x": 910,
    "y": 700,
    "wires": [["fc80bb460f478219"]]
  },
  {
    "id": "fc80bb460f478219",
    "type": "switch",
    "z": "b7d6c0b9c8cf00d5",
    "name": "tipo consulta",
    "property": "queryType",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "insert_bruta",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "insert_estado",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "insert_evento",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "insert_analisis",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "select",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 1090,
    "y": 700,
    "wires": [
      ["f8ea723cc2bc635b"],
      ["f21fe10c8747b920"],
      ["a4fd53edb295f7f8"],
      ["c2d9e3f7d0a61110"],
      ["a358d6afacf0c7a4"]
    ]
  },
  {
    "id": "f21fe10c8747b920",
    "type": "debug",
    "z": "b7d6c0b9c8cf00d5",
    "name": "debug mysql insert estado",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload.affectedRows",
    "targetType": "msg",
    "statusVal": "payload.affectedRows",
    "statusType": "msg",
    "x": 1320,
    "y": 660,
    "wires": []
  },
  {
    "id": "a4fd53edb295f7f8",
    "type": "debug",
    "z": "b7d6c0b9c8cf00d5",
    "name": "debug mysql insert evento",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload.affectedRows",
    "targetType": "msg",
    "statusVal": "payload.affectedRows",
    "statusType": "msg",
    "x": 1320,
    "y": 700,
    "wires": []
  },
  {
    "id": "a358d6afacf0c7a4",
    "type": "function",
    "z": "b7d6c0b9c8cf00d5",
    "name": "formato select tabla",
    "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\n\nif (rows.length === 0) {\n    msg.payload = 'Sin resultados';\n    return msg;\n}\n\nconst safe = (v) => String(v ?? '');\nconst maxRows = 20;\nconst data = rows.slice(0, maxRows);\n\nconst cols = Object.keys(data[0] || {}).sort((a, b) => a.localeCompare(b));\nif (cols.length === 0) {\n    msg.payload = 'Sin columnas para mostrar';\n    return msg;\n}\n\nconst widths = cols.map((c) => c.length);\nfor (const r of data) {\n    cols.forEach((c, i) => {\n        const l = safe(r[c]).length;\n        if (l > widths[i]) widths[i] = Math.min(l, 40);\n    });\n}\n\nconst trunc = (s, w) => (s.length > w ? s.slice(0, w - 1) + '...' : s);\nconst pad = (s, w) => trunc(s, w).padEnd(w, ' ');\n\nconst header = cols.map((c, i) => pad(c, widths[i])).join(' | ');\nconst sep = widths.map((w) => '-'.repeat(w)).join('-+-');\nconst body = data.map((r) => cols.map((c, i) => pad(safe(r[c]), widths[i])).join(' | ')).join('\\n');\n\nmsg.payload = `Filas devueltas: ${rows.length}\\n\\n${header}\\n${sep}\\n${body}`;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1280,
    "y": 760,
    "wires": [["b8115394c5d54f94"]]
  },
  {
    "id": "b8115394c5d54f94",
    "type": "debug",
    "z": "b7d6c0b9c8cf00d5",
    "name": "debug select tabla",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1460,
    "y": 760,
    "wires": []
  },
  {
    "id": "280c86b4c143abc4",
    "type": "inject",
    "z": "b7d6c0b9c8cf00d5",
    "name": "SELECT ultimas 20",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 640,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "0761efe88fe2a347",
    "type": "inject",
    "z": "b7d6c0b9c8cf00d5",
    "name": "SELECT EMERGENCIA",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "EMERGENCIA",
    "payloadType": "str",
    "x": 220,
    "y": 680,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "7f15449ad1f2682c",
    "type": "inject",
    "z": "b7d6c0b9c8cf00d5",
    "name": "SELECT ALERTA",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "ALERTA",
    "payloadType": "str",
    "x": 210,
    "y": 720,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "431bf11ecee0cbf4",
    "type": "inject",
    "z": "b7d6c0b9c8cf00d5",
    "name": "SELECT NORMAL",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "NORMAL",
    "payloadType": "str",
    "x": 210,
    "y": 760,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "bc7fb6bb733b6f28",
    "type": "inject",
    "z": "b7d6c0b9c8cf00d5",
    "name": "RESUMEN ALERTAS",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "RESUMEN_ALERTAS",
    "payloadType": "str",
    "x": 220,
    "y": 800,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "edecdad222f9e09d",
    "type": "inject",
    "z": "b7d6c0b9c8cf00d5",
    "name": "SELECT BRUTAS (ULTIMAS 20)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "BRUTAS_RECIENTES",
    "payloadType": "str",
    "x": 250,
    "y": 840,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "eb02b22c71c90b33",
    "type": "inject",
    "z": "b7d6c0b9c8cf00d5",
    "name": "SELECT EVENTOS (ULTIMOS 20)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "EVENTOS_RECIENTES",
    "payloadType": "str",
    "x": 250,
    "y": 880,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "36d294dd3d7fc199",
    "type": "function",
    "z": "b7d6c0b9c8cf00d5",
    "name": "build SQL select",
    "func": "const token = String(msg.payload || '').trim().toUpperCase();\nconst baseJoin = 'SELECT m.id, m.id_habitacion, m.contexto_hotel, m.temperatura_c, m.humedad_pct, m.fosfina_mq135, m.co_mq7, m.presencia_pir, m.intervalo_envio_ms, m.limpio, e.estado_riesgo, e.razon_riesgo, e.color_alerta, m.timestamp_origen, m.created_at FROM mediciones_brutas m LEFT JOIN estados_medicion e ON e.medicion_id = m.id';\n\nif (['NORMAL', 'ALERTA', 'EMERGENCIA'].includes(token)) {\n    msg.topic = baseJoin + \" WHERE e.estado_riesgo='\" + token + \"' ORDER BY m.id DESC LIMIT 20\";\n} else if (token === 'RESUMEN_ALERTAS') {\n    msg.topic = \"SELECT estado_riesgo, COUNT(*) AS total, MAX(created_at) AS ultima_medicion FROM estados_medicion WHERE estado_riesgo IN ('ALERTA','EMERGENCIA') GROUP BY estado_riesgo ORDER BY total DESC\";\n} else if (token === 'RESUMEN_CALIDAD') {\n    msg.topic = \"SELECT limpio, COUNT(*) AS total, MAX(created_at) AS ultima_medicion FROM mediciones_brutas GROUP BY limpio ORDER BY limpio ASC\";\n} else if (token === 'BRUTAS_RECIENTES') {\n    msg.topic = 'SELECT id, id_habitacion, contexto_hotel, temperatura_c, humedad_pct, fosfina_mq135, co_mq7, presencia_pir, intervalo_envio_ms, limpio, timestamp_origen, created_at FROM mediciones_brutas ORDER BY id DESC LIMIT 20';\n} else if (token === 'INCIDENCIAS_RECIENTES') {\n    msg.topic = 'SELECT id, medicion_id, id_habitacion, tipo_incidencia, detalle_incidencia, valor_detectado, created_at FROM incidencias ORDER BY id DESC LIMIT 20';\n} else if (token === 'EVENTOS_RECIENTES') {\n    msg.topic = 'SELECT id, medicion_id, id_habitacion, estado_riesgo, contexto_hotel, motivo_activacion, intervalo_objetivo_ms, timestamp_origen, created_at FROM eventos_actuadores ORDER BY id DESC LIMIT 20';\n} else {\n    msg.topic = baseJoin + ' ORDER BY m.id DESC LIMIT 20';\n}\n\nmsg.queryType = 'select';\nmsg.payload = [];\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 760,
    "wires": [["dca3b24a91085534"]]
  },
  {
    "id": "5f140744d347019a",
    "type": "inject",
    "z": "b7d6c0b9c8cf00d5",
    "name": "Contexto LIBRE",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "${TOPICO_COMANDOS}",
    "payload": "{\"estado\":\"LIBRE\",\"id_habitacion\":\"HTL-N-P1-103\"}",
    "payloadType": "json",
    "x": 180,
    "y": 320,
    "wires": [["5798f954f5e9c111"]]
  },
  {
    "id": "06534d6bf41c8a53",
    "type": "inject",
    "z": "b7d6c0b9c8cf00d5",
    "name": "Contexto RESERVADA",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "${TOPICO_COMANDOS}",
    "payload": "{\"estado\":\"RESERVADA\",\"id_habitacion\":\"HTL-N-P1-103\"}",
    "payloadType": "json",
    "x": 200,
    "y": 360,
    "wires": [["5798f954f5e9c111"]]
  },
  {
    "id": "0c6e95a9f1a5ef0e",
    "type": "inject",
    "z": "b7d6c0b9c8cf00d5",
    "name": "Contexto FUMIGACION",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "${TOPICO_COMANDOS}",
    "payload": "{\"estado\":\"FUMIGACION\",\"id_habitacion\":\"HTL-N-P1-103\"}",
    "payloadType": "json",
    "x": 210,
    "y": 400,
    "wires": [["5798f954f5e9c111"]]
  },
  {
    "id": "5798f954f5e9c111",
    "type": "function",
    "z": "b7d6c0b9c8cf00d5",
    "name": "set contexto backend + forward",
    "func": "const estado = String(msg?.payload?.estado || '').toUpperCase();\nconst idHabitacion = String(msg?.payload?.id_habitacion || '').trim();\nconst validos = ['LIBRE', 'RESERVADA', 'FUMIGACION'];\nif (!validos.includes(estado)) {\n    node.warn('estado invalido: ' + estado);\n    return null;\n}\nif (!idHabitacion) {\n    node.warn('id_habitacion requerido para comando dirigido');\n    return null;\n}\nflow.set('estado_habitacion', estado);\nconst baseTopic = env.get('TOPICO_COMANDOS') || 'alejandro.bravo_isa@uao.edu.co/comandos';\nmsg.topic = baseTopic;\nmsg.payload = { estado, id_habitacion: idHabitacion };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 490,
    "y": 360,
    "wires": [["80fc9f72dc148d75", "5b960acf29f7316e"]]
  },
  {
    "id": "a1b2c3d4e5f60111",
    "type": "mqtt-broker",
    "name": "Broker MQTT",
    "broker": "${MQTT_SERVER}",
    "port": "${MQTT_PORT}",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "d9f3d61e3a4c0aaa",
    "type": "MySQLdatabase",
    "name": "mysql-iot",
    "host": "mysql",
    "port": "3306",
    "db": "ciudad_inteligente",
    "tz": "",
    "charset": "UTF8"
  },
  {
    "id": "e2cdef387b652a1d",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-node-mysql": "3.0.0"
    }
  },
  {
    "id": "3b9d3fae9a101111",
    "type": "inject",
    "z": "b7d6c0b9c8cf00d5",
    "name": "SELECT CALIDAD (RESUMEN)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "RESUMEN_CALIDAD",
    "payloadType": "str",
    "x": 270,
    "y": 920,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "3b9d3fae9a101112",
    "type": "inject",
    "z": "b7d6c0b9c8cf00d5",
    "name": "SELECT INCIDENCIAS (ULTIMAS 20)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "INCIDENCIAS_RECIENTES",
    "payloadType": "str",
    "x": 280,
    "y": 960,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "c1e5b49a2f3c1111",
    "type": "tab",
    "label": "HTL-IOT-LIMPIEZA",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c1e5b49a2f3c1112",
    "type": "inject",
    "z": "c1e5b49a2f3c1111",
    "name": "LIMPIAR LOTE (100)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "LIMPIAR_100",
    "payloadType": "str",
    "x": 180,
    "y": 120,
    "wires": [["c1e5b49a2f3c1113"]]
  },
  {
    "id": "c1e5b49a2f3c1113",
    "type": "function",
    "z": "c1e5b49a2f3c1111",
    "name": "build SQL select lote",
    "func": "msg.topic = 'SELECT id, id_habitacion, contexto_hotel, temperatura_c, humedad_pct, fosfina_mq135, co_mq7, presencia_pir, intervalo_envio_ms, timestamp_origen FROM mediciones_brutas WHERE limpio = 0 ORDER BY id ASC LIMIT 100';\nmsg.queryType = 'select_lote';\nmsg.payload = [];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 120,
    "wires": [["c1e5b49a2f3c1114"]]
  },
  {
    "id": "c1e5b49a2f3c1114",
    "type": "mysql",
    "z": "c1e5b49a2f3c1111",
    "mydb": "d9f3d61e3a4c0aaa",
    "name": "mysql select lote",
    "x": 650,
    "y": 120,
    "wires": [["c1e5b49a2f3c1115"]]
  },
  {
    "id": "c1e5b49a2f3c1115",
    "type": "function",
    "z": "c1e5b49a2f3c1111",
    "name": "prepare stats query",
    "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nif (rows.length === 0) {\n    msg.payload = 'Sin registros pendientes';\n    return [null, msg];\n}\n\nconst habitacionIds = [...new Set(rows.map((r) => String(r.id_habitacion || '').trim()).filter(Boolean))];\nif (habitacionIds.length === 0) {\n    msg.payload = 'Sin id_habitacion en lote';\n    return [null, msg];\n}\n\nconst safeIds = habitacionIds.map((v) => v.replace(/'/g, \"''\"));\nmsg.batchId = Date.now();\nmsg.batchRows = rows;\nmsg.topic = `SELECT id_habitacion, temperatura_c, humedad_pct, fosfina_mq135, co_mq7 FROM mediciones_brutas WHERE id_habitacion IN ('${safeIds.join(\"','\")}') AND (temperatura_c IS NOT NULL OR humedad_pct IS NOT NULL OR fosfina_mq135 IS NOT NULL OR co_mq7 IS NOT NULL)`;\nmsg.queryType = 'select_stats';\nreturn [msg, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 120,
    "wires": [["c1e5b49a2f3c1116"], ["c1e5b49a2f3c1122"]]
  },
  {
    "id": "c1e5b49a2f3c1116",
    "type": "mysql",
    "z": "c1e5b49a2f3c1111",
    "mydb": "d9f3d61e3a4c0aaa",
    "name": "mysql select stats",
    "x": 1090,
    "y": 120,
    "wires": [["c1e5b49a2f3c1117"]]
  },
  {
    "id": "c1e5b49a2f3c1117",
    "type": "function",
    "z": "c1e5b49a2f3c1111",
    "name": "build stats + split",
    "func": "const statsRows = Array.isArray(msg.payload) ? msg.payload : [];\nconst batchRows = Array.isArray(msg.batchRows) ? msg.batchRows : [];\n\nif (batchRows.length === 0) {\n    msg.payload = 'Sin registros en lote';\n    return msg;\n}\n\nconst statsByHabitacion = {};\nconst intervalCounts = {};\n\nfunction ensureHabitacion(idHabitacion) {\n    if (!statsByHabitacion[idHabitacion]) {\n        statsByHabitacion[idHabitacion] = { values: {}, median: {}, intervalo_envio_ms: null };\n    }\n}\n\nfunction pushVal(idHabitacion, field, value) {\n    if (!Number.isFinite(value)) return;\n    ensureHabitacion(idHabitacion);\n    if (!statsByHabitacion[idHabitacion].values[field]) {\n        statsByHabitacion[idHabitacion].values[field] = [];\n    }\n    statsByHabitacion[idHabitacion].values[field].push(value);\n}\n\nfor (const r of statsRows) {\n    const idHabitacion = String(r.id_habitacion || '').trim();\n    if (!idHabitacion) continue;\n    pushVal(idHabitacion, 'temperatura_c', Number(r.temperatura_c));\n    pushVal(idHabitacion, 'humedad_pct', Number(r.humedad_pct));\n    pushVal(idHabitacion, 'fosfina_mq135', Number(r.fosfina_mq135));\n    pushVal(idHabitacion, 'co_mq7', Number(r.co_mq7));\n}\n\nfor (const r of batchRows) {\n    const idHabitacion = String(r.id_habitacion || '').trim();\n    if (!idHabitacion) continue;\n    const interval = Number(r.intervalo_envio_ms);\n    if (!Number.isFinite(interval) || interval <= 0) continue;\n    if (!intervalCounts[idHabitacion]) intervalCounts[idHabitacion] = {};\n    const key = String(interval);\n    intervalCounts[idHabitacion][key] = (intervalCounts[idHabitacion][key] || 0) + 1;\n}\n\nfunction median(values) {\n    const arr = values.slice().sort((a, b) => a - b);\n    const mid = Math.floor(arr.length / 2);\n    if (arr.length === 0) return null;\n    return arr.length % 2 === 0 ? (arr[mid - 1] + arr[mid]) / 2 : arr[mid];\n}\n\nfunction modeFromCounts(counts) {\n    let best = null;\n    let bestCount = 0;\n    for (const [value, count] of Object.entries(counts || {})) {\n        if (count > bestCount) {\n            bestCount = count;\n            best = value;\n        }\n    }\n    return best !== null ? Number(best) : null;\n}\n\nfor (const [idHabitacion, data] of Object.entries(statsByHabitacion)) {\n    data.median.temperatura_c = median(data.values.temperatura_c || []);\n    data.median.humedad_pct = median(data.values.humedad_pct || []);\n    data.median.fosfina_mq135 = median(data.values.fosfina_mq135 || []);\n    data.median.co_mq7 = median(data.values.co_mq7 || []);\n    data.intervalo_envio_ms = modeFromCounts(intervalCounts[idHabitacion]);\n    delete data.values;\n}\n\nconst batchId = msg.batchId || Date.now();\nflow.set('current_batch_id', batchId);\nflow.set('batch_signatures', {});\nmsg.statsByHabitacion = statsByHabitacion;\nmsg.batchId = batchId;\nmsg.payload = batchRows;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1310,
    "y": 120,
    "wires": [["c1e5b49a2f3c1118"]]
  },
  {
    "id": "c1e5b49a2f3c1118",
    "type": "split",
    "z": "c1e5b49a2f3c1111",
    "name": "split rows",
    "splt": "\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1510,
    "y": 120,
    "wires": [["c1e5b49a2f3c1119"]]
  },
  {
    "id": "c1e5b49a2f3c1119",
    "type": "function",
    "z": "c1e5b49a2f3c1111",
    "name": "validar + imputar",
    "func": "const row = msg.payload || {};\nconst statsByHabitacion = msg.statsByHabitacion || {};\nconst idHabitacion = String(row.id_habitacion || '').trim();\nconst contexto = String(row.contexto_hotel || '').trim().toUpperCase();\nconst rawTs = row.timestamp_origen;\nconst ts = new Date(rawTs);\nconst tsOk = Number.isFinite(ts.getTime());\n\nconst errors = [];\nconst errorCols = new Set();\nconst categories = new Set();\nlet fatal = false;\nconst measuredCols = new Set(['temperatura_c', 'humedad_pct', 'fosfina_mq135', 'co_mq7']);\n\nfunction addError(code, col, category) {\n    if (code && !errors.includes(code)) {\n        errors.push(code);\n    }\n    if (category) categories.add(category);\n    if (col && measuredCols.has(col)) errorCols.add(col);\n}\n\nif (!idHabitacion) {\n    addError('id_habitacion_faltante', 'id_habitacion', 'INCOMPLETO');\n    fatal = true;\n}\nif (!tsOk) {\n    addError('timestamp_invalido', 'timestamp_origen', 'FORMATO');\n    fatal = true;\n}\n\nconst tempMin = Number(env.get('TEMP_MIN_C') || -20);\nconst tempMax = Number(env.get('TEMP_MAX_C') || 80);\nconst humMin = Number(env.get('HUM_MIN_PCT') || 0);\nconst humMax = Number(env.get('HUM_MAX_PCT') || 100);\nconst mq135Min = Number(env.get('MQ135_RAW_MIN') || 0);\nconst mq135Max = Number(env.get('MQ135_RAW_MAX') || 4095);\nconst mq7Min = Number(env.get('MQ7_RAW_MIN') || 0);\nconst mq7Max = Number(env.get('MQ7_RAW_MAX') || 4095);\n\nfunction readNumeric(value, field, min, max, missingCode, formatCode, rangeCode) {\n    if (value === null || value === undefined || value === '') {\n        addError(missingCode, field, 'INCOMPLETO');\n        return null;\n    }\n    const n = Number(value);\n    if (!Number.isFinite(n)) {\n        addError(formatCode, field, 'FORMATO');\n        return null;\n    }\n    if (Number.isFinite(min) && n < min) {\n        addError(rangeCode, field, 'ATIPICO');\n        return null;\n    }\n    if (Number.isFinite(max) && n > max) {\n        addError(rangeCode, field, 'ATIPICO');\n        return null;\n    }\n    return n;\n}\n\nconst temperatura = readNumeric(row.temperatura_c, 'temperatura_c', tempMin, tempMax, 'temperatura_faltante', 'temperatura_formato', 'temperatura_fuera_rango');\nconst humedad = readNumeric(row.humedad_pct, 'humedad_pct', humMin, humMax, 'humedad_faltante', 'humedad_formato', 'humedad_fuera_rango');\nconst fosfina = readNumeric(row.fosfina_mq135, 'fosfina_mq135', mq135Min, mq135Max, 'fosfina_mq135_faltante', 'fosfina_mq135_formato', 'fosfina_mq135_fuera_rango');\nconst co = readNumeric(row.co_mq7, 'co_mq7', mq7Min, mq7Max, 'co_mq7_faltante', 'co_mq7_formato', 'co_mq7_fuera_rango');\n\nlet presenciaPir = 0;\nif (row.presencia_pir !== null && row.presencia_pir !== undefined && row.presencia_pir !== '') {\n    const pirNum = Number(row.presencia_pir);\n    if (Number.isFinite(pirNum)) {\n        presenciaPir = pirNum > 0 ? 1 : 0;\n    } else {\n        addError('presencia_pir_formato', 'presencia_pir', 'FORMATO');\n        presenciaPir = 0;\n    }\n}\n\nlet intervaloEnvio = null;\nif (row.intervalo_envio_ms !== null && row.intervalo_envio_ms !== undefined && row.intervalo_envio_ms !== '') {\n    const intervalNum = Number(row.intervalo_envio_ms);\n    if (Number.isFinite(intervalNum)) {\n        intervaloEnvio = intervalNum;\n    } else {\n        addError('intervalo_formato', 'intervalo_envio_ms', 'FORMATO');\n    }\n}\n\nconst habitacionStats = statsByHabitacion[idHabitacion] || {};\nconst expectedInterval = Number.isFinite(intervaloEnvio) && intervaloEnvio > 0\n    ? intervaloEnvio\n    : Number(habitacionStats.intervalo_envio_ms || env.get('TEMPORAL_INTERVALO_DEFAULT_MS') || 15000);\n\nif (tsOk) {\n    const lastKey = 'last_ts_limpieza_' + (idHabitacion || 'desconocido');\n    const lastTs = Number(flow.get(lastKey) || 0);\n    const gapMax = Number(env.get('TEMPORAL_GAP_MAX_MS') || 120000);\n    const lossMax = Number(env.get('TEMPORAL_LOSS_MAX_MS') || Math.max(gapMax * 3, expectedInterval * 10));\n    if (lastTs > 0) {\n        const gap = ts.getTime() - lastTs;\n        if (gap > lossMax) {\n            addError('perdida_comunicacion_' + gap + 'ms', 'timestamp_origen', 'TEMPORAL');\n        } else if (gap > gapMax) {\n            addError('hueco_temporal_' + gap + 'ms', 'timestamp_origen', 'TEMPORAL');\n        } else if (expectedInterval > 0 && Math.abs(gap - expectedInterval) > expectedInterval * 0.5) {\n            addError('intervalo_irregular_' + gap + 'ms', 'timestamp_origen', 'TEMPORAL');\n        }\n    }\n    flow.set(lastKey, ts.getTime());\n}\n\nconst batchId = msg.batchId || flow.get('current_batch_id');\nif (batchId && batchId !== flow.get('current_batch_id')) {\n    flow.set('current_batch_id', batchId);\n    flow.set('batch_signatures', {});\n}\nconst batchSigs = flow.get('batch_signatures') || {};\nconst signature = [\n    idHabitacion,\n    contexto,\n    tsOk ? ts.toISOString() : String(rawTs),\n    Number.isFinite(temperatura) ? temperatura.toFixed(2) : 'NULL',\n    Number.isFinite(humedad) ? humedad.toFixed(2) : 'NULL',\n    Number.isFinite(fosfina) ? fosfina.toFixed(2) : 'NULL',\n    Number.isFinite(co) ? co.toFixed(2) : 'NULL',\n    presenciaPir,\n    Number.isFinite(intervaloEnvio) ? intervaloEnvio : 'NULL'\n].join('|');\n\nif (batchSigs[signature]) {\n    addError('duplicado_batch', 'duplicado', 'DUPLICADO');\n} else {\n    batchSigs[signature] = Date.now();\n}\nflow.set('batch_signatures', batchSigs);\n\nconst ttlMs = Number(env.get('DUP_SIG_TTL_MS') || 86400000);\nconst recentSigs = flow.get('recent_signatures') || {};\nconst now = Date.now();\nfor (const [sig, seenAt] of Object.entries(recentSigs)) {\n    if ((now - seenAt) > ttlMs) {\n        delete recentSigs[sig];\n    }\n}\nif (recentSigs[signature]) {\n    addError('duplicado_historico', 'duplicado', 'DUPLICADO');\n}\nrecentSigs[signature] = now;\nflow.set('recent_signatures', recentSigs);\n\nconst errorColumnCount = errorCols.size;\nconst imputedColumns = [];\nconst medians = habitacionStats && habitacionStats.median ? habitacionStats.median : {};\n\nfunction impute(field, current) {\n    if (Number.isFinite(current)) return current;\n    const fallback = Number(medians[field]);\n    if (Number.isFinite(fallback)) {\n        imputedColumns.push(field);\n        return Number(fallback);\n    }\n    addError('imputacion_sin_datos', field, 'ERROR');\n    fatal = true;\n    return current;\n}\n\nlet cleanMsg = null;\nif (!fatal && errorColumnCount <= 2) {\n    const cleanData = {\n        temperatura_c: impute('temperatura_c', temperatura),\n        humedad_pct: impute('humedad_pct', humedad),\n        fosfina_mq135: impute('fosfina_mq135', fosfina),\n        co_mq7: impute('co_mq7', co),\n        presencia_pir: presenciaPir,\n        intervalo_envio_ms: intervaloEnvio,\n        timestamp_origen: tsOk ? ts.toISOString().slice(0, 19).replace('T', ' ') : null\n    };\n    if (!fatal) {\n        cleanMsg = {\n            ...msg,\n            cleanData,\n            medicionesBrutasId: Number(row.id),\n            idHabitacion,\n            errors,\n            errorColumns: Array.from(errorCols),\n            imputedColumns\n        };\n    }\n}\n\nlet incidenciaMsg = null;\nif (errors.length > 0 || fatal) {\n    let tipo = 'ERROR';\n    if (categories.size === 1) {\n        tipo = Array.from(categories)[0];\n    } else if (categories.size > 1) {\n        tipo = 'MULTIPLE';\n    }\n    const detalle = errors.join('; ').slice(0, 255);\n    const valor = {\n        errors,\n        error_columns: Array.from(errorCols),\n        imputed_columns: imputedColumns,\n        id_habitacion: idHabitacion,\n        timestamp_origen: rawTs,\n        raw: {\n            temperatura_c: row.temperatura_c,\n            humedad_pct: row.humedad_pct,\n            fosfina_mq135: row.fosfina_mq135,\n            co_mq7: row.co_mq7,\n            presencia_pir: row.presencia_pir,\n            intervalo_envio_ms: row.intervalo_envio_ms\n        }\n    };\n    incidenciaMsg = {\n        ...msg,\n        medicionesBrutasId: Number(row.id),\n        idHabitacion,\n        incidencia: {\n            tipo,\n            detalle,\n            valor\n        }\n    };\n}\n\nreturn [cleanMsg, incidenciaMsg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1730,
    "y": 120,
    "wires": [["c1e5b49a2f3c111b"], ["c1e5b49a2f3c111d"]]
  },
  {
    "id": "c1e5b49a2f3c111b",
    "type": "function",
    "z": "c1e5b49a2f3c1111",
    "name": "build insert limpia",
    "func": "const data = msg.cleanData || {};\nconst medicionId = Number(msg.medicionesBrutasId);\nif (!Number.isFinite(medicionId) || medicionId <= 0) {\n    return null;\n}\n\nmsg.topic = 'INSERT INTO mediciones_limpias (medicion_id, temperatura_c, humedad_pct, fosfina_mq135, co_mq7) VALUES (?, ?, ?, ?, ?)';\nmsg.payload = [\n    medicionId,\n    Number.isFinite(Number(data.temperatura_c)) ? Number(data.temperatura_c) : null,\n    Number.isFinite(Number(data.humedad_pct)) ? Number(data.humedad_pct) : null,\n    Number.isFinite(Number(data.fosfina_mq135)) ? Number(data.fosfina_mq135) : null,\n    Number.isFinite(Number(data.co_mq7)) ? Number(data.co_mq7) : null\n];\nmsg.queryType = 'insert_limpia';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1960,
    "y": 80,
    "wires": [["c1e5b49a2f3c111c"]]
  },
  {
    "id": "c1e5b49a2f3c111c",
    "type": "mysql",
    "z": "c1e5b49a2f3c1111",
    "mydb": "d9f3d61e3a4c0aaa",
    "name": "mysql insert limpia",
    "x": 2180,
    "y": 80,
    "wires": [["c1e5b49a2f3c111f"]]
  },
  {
    "id": "c1e5b49a2f3c111d",
    "type": "function",
    "z": "c1e5b49a2f3c1111",
    "name": "build insert incidencia",
    "func": "const inc = msg.incidencia || {};\nconst medicionId = Number(msg.medicionesBrutasId);\nif (!Number.isFinite(medicionId) || medicionId <= 0) {\n    return null;\n}\nconst idHabitacion = String(msg.idHabitacion || 'DESCONOCIDO');\nconst tipo = String(inc.tipo || 'ERROR').toUpperCase();\nconst detalle = String(inc.detalle || 'incidencia_detectada').slice(0, 255);\nconst valor = JSON.stringify(inc.valor || {});\n\nmsg.topic = 'INSERT INTO incidencias (medicion_id, id_habitacion, tipo_incidencia, detalle_incidencia, valor_detectado) VALUES (?, ?, ?, ?, ?)';\nmsg.payload = [\n    medicionId,\n    idHabitacion,\n    tipo,\n    detalle,\n    valor\n];\nmsg.queryType = 'insert_incidencia';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1970,
    "y": 200,
    "wires": [["c1e5b49a2f3c111e"]]
  },
  {
    "id": "c1e5b49a2f3c111e",
    "type": "mysql",
    "z": "c1e5b49a2f3c1111",
    "mydb": "d9f3d61e3a4c0aaa",
    "name": "mysql insert incidencia",
    "x": 2190,
    "y": 200,
    "wires": [["c1e5b49a2f3c111f"]]
  },
  {
    "id": "c1e5b49a2f3c111f",
    "type": "function",
    "z": "c1e5b49a2f3c1111",
    "name": "update bruta limpio",
    "func": "const medicionId = Number(msg.medicionesBrutasId);\nif (!Number.isFinite(medicionId) || medicionId <= 0) {\n    return null;\n}\nmsg.topic = 'UPDATE mediciones_brutas SET limpio = 1 WHERE id = ?';\nmsg.payload = [medicionId];\nmsg.queryType = 'update_bruta';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2380,
    "y": 140,
    "wires": [["c1e5b49a2f3c1120"]]
  },
  {
    "id": "c1e5b49a2f3c1120",
    "type": "mysql",
    "z": "c1e5b49a2f3c1111",
    "mydb": "d9f3d61e3a4c0aaa",
    "name": "mysql update limpio",
    "x": 2610,
    "y": 140,
    "wires": [["c1e5b49a2f3c1121"]]
  },
  {
    "id": "c1e5b49a2f3c1121",
    "type": "debug",
    "z": "c1e5b49a2f3c1111",
    "name": "debug update limpio",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 2830,
    "y": 140,
    "wires": []
  },
  {
    "id": "c1e5b49a2f3c1122",
    "type": "debug",
    "z": "c1e5b49a2f3c1111",
    "name": "limpieza sin registros",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1110,
    "y": 200,
    "wires": []
  },
  {
    "id": "b7c4f7c2aebc1110",
    "type": "inject",
    "z": "b7d6c0b9c8cf00d5",
    "name": "ANALISIS MENSUAL (ULTIMO MES)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "ANALISIS_MENSUAL",
    "payloadType": "str",
    "x": 260,
    "y": 1000,
    "wires": [["e5b3a6d0b2c81110"]]
  },
  {
    "id": "e5b3a6d0b2c81110",
    "type": "function",
    "z": "b7d6c0b9c8cf00d5",
    "name": "build SQL analisis mensual",
    "func": "msg.topic = 'INSERT INTO analisis_mediciones (id_habitacion, temp_promedio, temp_minima, temp_maxima, hum_promedio, hum_minima, hum_maxima, temp_fuera_rango, hum_fuera_rango, total_registros, fecha_inicio_analisis, fecha_fin_analisis, fecha_generacion) SELECT b.id_habitacion, AVG(l.temperatura_c) AS temp_promedio, MIN(l.temperatura_c) AS temp_minima, MAX(l.temperatura_c) AS temp_maxima, AVG(l.humedad_pct) AS hum_promedio, MIN(l.humedad_pct) AS hum_minima, MAX(l.humedad_pct) AS hum_maxima, SUM(CASE WHEN l.temperatura_c < 18 OR l.temperatura_c > 25 THEN 1 ELSE 0 END) AS temp_fuera_rango, SUM(CASE WHEN l.humedad_pct < 30 OR l.humedad_pct > 60 THEN 1 ELSE 0 END) AS hum_fuera_rango, COUNT(*) AS total_registros, MIN(b.timestamp_origen) AS fecha_inicio_analisis, MAX(b.timestamp_origen) AS fecha_fin_analisis, NOW() AS fecha_generacion FROM mediciones_limpias l INNER JOIN mediciones_brutas b ON b.id = l.medicion_id WHERE b.timestamp_origen >= DATE_SUB(NOW(), INTERVAL 1 MONTH) GROUP BY b.id_habitacion';\nmsg.queryType = 'insert_analisis';\nmsg.payload = [];\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1000,
    "wires": [["dca3b24a91085534"]]
  },
  {
    "id": "c2d9e3f7d0a61110",
    "type": "debug",
    "z": "b7d6c0b9c8cf00d5",
    "name": "debug mysql insert analisis",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload.affectedRows",
    "targetType": "msg",
    "statusVal": "payload.affectedRows",
    "statusType": "msg",
    "x": 1340,
    "y": 740,
    "wires": []
  }
]
