parcial2C/nodered/flows.json
[
  {
    "id": "flow_parcial2",
    "type": "tab",
    "label": "Parcial2 Garage CO",
    "disabled": false,
    "info": "Ingesta MQTT de hardware+simulador, lógica de estados/alertas y persistencia en MariaDB."
  },
  {
    "id": "mqtt_in_telemetry",
    "type": "mqtt in",
    "z": "flow_parcial2",
    "name": "Telemetry In",
    "topic": "${MQTT_TOPIC_BASE}/${HARDWARE_DEVICE_ID}/telemetry",
    "qos": "1",
    "datatype": "auto",
    "broker": "cfg_mqtt",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 120,
    "wires": [["json_parse"]]
  },
  {
    "id": "mqtt_in_telemetry_sim",
    "type": "mqtt in",
    "z": "flow_parcial2",
    "name": "Telemetry In (SIM)",
    "topic": "${MQTT_TOPIC_BASE}/${SIM_DEVICE_ID}/telemetry",
    "qos": "1",
    "datatype": "auto",
    "broker": "cfg_mqtt",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 160,
    "wires": [["json_parse"]]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "flow_parcial2",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 330,
    "y": 120,
    "wires": [["fn_normalize"]]
  },
  {
    "id": "fn_normalize",
    "type": "function",
    "z": "flow_parcial2",
    "name": "Normalize + derive state",
    "func": "const payload = (typeof msg.payload === \"object\" && msg.payload !== null) ? msg.payload : {};\nconst deviceId = String(payload.device_id || \"\").trim();\n\nif (!deviceId) {\n    node.warn(\"Mensaje descartado: falta device_id\");\n    return null;\n}\n\nconst co = Number(payload.co_ppm);\nif (!Number.isFinite(co)) {\n    node.warn(`Mensaje descartado (${deviceId}): co_ppm invalido`);\n    return null;\n}\n\nconst rawPresencia = payload.presencia;\nconst presencia =\n    rawPresencia === true ||\n    rawPresencia === 1 ||\n    rawPresencia === \"1\" ||\n    String(rawPresencia || \"\").toUpperCase() === \"SI\" ||\n    String(rawPresencia || \"\").toLowerCase() === \"true\";\n\nlet estadoBase = \"SEGURO\";\nif (co < 10) estadoBase = \"SEGURO\";\nelse if (co < 15) estadoBase = \"PRECAUCION\";\nelse if (co < 30) estadoBase = \"PELIGRO\";\nelse estadoBase = \"CRITICO\";\n\nconst urgente = presencia && co >= 30;\nconst estado = urgente ? `${estadoBase}_URGENTE` : estadoBase;\n\nconst timestamp =\n    (typeof payload.timestamp === \"string\" && payload.timestamp.trim().length > 0)\n        ? payload.timestamp\n        : new Date().toISOString();\n\nmsg.telemetry = {\n    device_id: deviceId,\n    node_type: \"unknown\",\n    timestamp,\n    co_ppm: Number(co.toFixed(1)),\n    presencia,\n    presencia_text: presencia ? \"SI\" : \"NO\",\n    estado,\n    estado_base: estadoBase,\n    urgente,\n    source_topic: msg.topic || \"\",\n    message_id: payload.message_id ?? null\n};\n\nmsg.payload = msg.telemetry;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 120,
    "wires": [["sw_device_route", "dbg_ingest"]]
  },
  {
    "id": "sw_device_route",
    "type": "switch",
    "z": "flow_parcial2",
    "name": "Route by device_id",
    "property": "telemetry.device_id",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "HARDWARE_DEVICE_ID", "vt": "env" },
      { "t": "eq", "v": "SIM_DEVICE_ID", "vt": "env" },
      { "t": "else" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 790,
    "y": 120,
    "wires": [["fn_hw_tag"], ["fn_sim_tag"], ["dbg_unknown"]]
  },
  {
    "id": "fn_hw_tag",
    "type": "function",
    "z": "flow_parcial2",
    "name": "Mark hardware node",
    "func": "msg.telemetry.node_type = \"hardware\";\nmsg.payload = msg.telemetry;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1040,
    "y": 90,
    "wires": [["fn_upsert_device_q"]]
  },
  {
    "id": "fn_sim_tag",
    "type": "function",
    "z": "flow_parcial2",
    "name": "Mark simulated node",
    "func": "msg.telemetry.node_type = \"simulated\";\nmsg.payload = msg.telemetry;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1040,
    "y": 150,
    "wires": [["fn_upsert_device_q"]]
  },
  {
    "id": "fn_upsert_device_q",
    "type": "function",
    "z": "flow_parcial2",
    "name": "SQL upsert device",
    "func": "const t = msg.telemetry;\nmsg.topic = \"INSERT INTO devices (device_id, node_type, description, last_seen_at) VALUES (?, ?, ?, NOW(3)) ON DUPLICATE KEY UPDATE node_type=VALUES(node_type), description=VALUES(description), last_seen_at=NOW(3)\";\nmsg.payload = [t.device_id, t.node_type, `${t.node_type} node`];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1270,
    "y": 120,
    "wires": [["sql_upsert_device"]]
  },
  {
    "id": "sql_upsert_device",
    "type": "mysql",
    "z": "flow_parcial2",
    "mydb": "cfg_mysql",
    "name": "DB upsert device",
    "x": 1480,
    "y": 120,
    "wires": [["fn_insert_reading_q"]]
  },
  {
    "id": "fn_insert_reading_q",
    "type": "function",
    "z": "flow_parcial2",
    "name": "SQL insert sensor_readings",
    "func": "const t = msg.telemetry;\nmsg.topic = \"INSERT INTO sensor_readings (device_id, device_timestamp, co_ppm, presencia, source_topic, message_id) VALUES (?, ?, ?, ?, ?, ?)\";\nmsg.payload = [t.device_id, t.timestamp, t.co_ppm, t.presencia ? 1 : 0, t.source_topic, t.message_id];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1720,
    "y": 120,
    "wires": [["sql_insert_reading"]]
  },
  {
    "id": "sql_insert_reading",
    "type": "mysql",
    "z": "flow_parcial2",
    "mydb": "cfg_mysql",
    "name": "DB insert reading",
    "x": 1950,
    "y": 120,
    "wires": [["fn_insert_state_q"]]
  },
  {
    "id": "fn_insert_state_q",
    "type": "function",
    "z": "flow_parcial2",
    "name": "SQL insert state_events",
    "func": "const t = msg.telemetry;\nconst reason = t.urgente\n  ? \"Presencia detectada durante nivel crítico de CO\"\n  : `Clasificación por umbral: ${t.estado_base}`;\n\nmsg.topic = \"INSERT INTO state_events (device_id, device_timestamp, estado, urgente, co_ppm, presencia, reason) VALUES (?, ?, ?, ?, ?, ?, ?)\";\nmsg.payload = [t.device_id, t.timestamp, t.estado, t.urgente ? 1 : 0, t.co_ppm, t.presencia ? 1 : 0, reason];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2190,
    "y": 120,
    "wires": [["sql_insert_state"]]
  },
  {
    "id": "sql_insert_state",
    "type": "mysql",
    "z": "flow_parcial2",
    "mydb": "cfg_mysql",
    "name": "DB insert state",
    "x": 2420,
    "y": 120,
    "wires": [["fn_prepare_alert_q"]]
  },
  {
    "id": "fn_prepare_alert_q",
    "type": "function",
    "z": "flow_parcial2",
    "name": "Build alert when needed",
    "func": "const t = msg.telemetry;\n\nif (!(t.urgente || t.co_ppm >= 30)) {\n  return null;\n}\n\nconst severity = t.urgente ? \"CRITICAL\" : \"HIGH\";\nconst alertType = t.urgente ? \"CRITICO_URGENTE\" : \"CO_CRITICO\";\nconst message = t.urgente\n  ? \"CO crítico con presencia detectada.\"\n  : \"CO crítico sin presencia detectada.\";\n\nmsg.alertPayload = {\n  device_id: t.device_id,\n  timestamp: t.timestamp,\n  severity,\n  alert_type: alertType,\n  message,\n  co_ppm: t.co_ppm,\n  presencia: t.presencia ? \"SI\" : \"NO\",\n  estado: t.estado\n};\n\nmsg.topic = \"INSERT INTO alerts (device_id, device_timestamp, severity, alert_type, message, co_ppm, presencia, urgente) VALUES (?, ?, ?, ?, ?, ?, ?, ?)\";\nmsg.payload = [t.device_id, t.timestamp, severity, alertType, message, t.co_ppm, t.presencia ? 1 : 0, t.urgente ? 1 : 0];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2660,
    "y": 120,
    "wires": [["sql_insert_alert"]]
  },
  {
    "id": "sql_insert_alert",
    "type": "mysql",
    "z": "flow_parcial2",
    "mydb": "cfg_mysql",
    "name": "DB insert alert",
    "x": 2880,
    "y": 120,
    "wires": [["fn_build_alert_payload", "dbg_alert"]]
  },
  {
    "id": "fn_build_alert_payload",
    "type": "function",
    "z": "flow_parcial2",
    "name": "Publish alert message",
    "func": "if (!msg.alertPayload) {\n  return null;\n}\n\nconst topicBase = env.get(\"MQTT_TOPIC_BASE\") || \"your_maqiatto_username/fiot/garage\";\nmsg.topic = `${topicBase}/alerts/${msg.alertPayload.device_id}`;\nmsg.payload = msg.alertPayload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 3110,
    "y": 120,
    "wires": [["mqtt_out_alerts"]]
  },
  {
    "id": "mqtt_out_alerts",
    "type": "mqtt out",
    "z": "flow_parcial2",
    "name": "MQTT Alerts Out",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "cfg_mqtt",
    "x": 3340,
    "y": 120,
    "wires": []
  },
  {
    "id": "dbg_ingest",
    "type": "debug",
    "z": "flow_parcial2",
    "name": "debug telemetry",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 790,
    "y": 60,
    "wires": []
  },
  {
    "id": "dbg_unknown",
    "type": "debug",
    "z": "flow_parcial2",
    "name": "unknown device_id",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "telemetry",
    "targetType": "msg",
    "x": 1040,
    "y": 210,
    "wires": []
  },
  {
    "id": "dbg_alert",
    "type": "debug",
    "z": "flow_parcial2",
    "name": "alert inserted",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "alertPayload",
    "targetType": "msg",
    "x": 3110,
    "y": 70,
    "wires": []
  },
  {
    "id": "inj_sim",
    "type": "inject",
    "z": "flow_parcial2",
    "name": "Simulator tick (7s)",
    "props": [{ "p": "payload" }],
    "repeat": "7",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 260,
    "wires": [["fn_sim_generate"]]
  },
  {
    "id": "fn_sim_generate",
    "type": "function",
    "z": "flow_parcial2",
    "name": "Generate simulated telemetry",
    "func": "const simId = env.get(\"SIM_DEVICE_ID\") || \"SIM-GARAGE-CO-001\";\nconst topicBase = env.get(\"MQTT_TOPIC_BASE\") || \"your_maqiatto_username/fiot/garage\";\nconst co = Number((6 + Math.random() * 39).toFixed(1));\nconst presencia = Math.random() > 0.55;\n\nlet estado = \"SEGURO\";\nif (co < 10) estado = \"SEGURO\";\nelse if (co < 15) estado = \"PRECAUCION\";\nelse if (co < 30) estado = \"PELIGRO\";\nelse estado = \"CRITICO\";\n\nif (presencia && co >= 30) {\n  estado += \"_URGENTE\";\n}\n\nmsg.topic = `${topicBase}/${simId}/telemetry`;\nmsg.payload = {\n  device_id: simId,\n  timestamp: new Date().toISOString(),\n  co_ppm: co,\n  presencia: presencia ? \"SI\" : \"NO\",\n  estado\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 260,
    "wires": [["mqtt_out_sim"]]
  },
  {
    "id": "mqtt_out_sim",
    "type": "mqtt out",
    "z": "flow_parcial2",
    "name": "Simulator -> MQTT",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "cfg_mqtt",
    "x": 650,
    "y": 260,
    "wires": []
  },
  {
    "id": "cfg_mqtt",
    "type": "mqtt-broker",
    "name": "Maqiatto Broker",
    "broker": "${MQTT_BROKER_HOST}",
    "port": "${MQTT_BROKER_PORT}",
    "clientid": "nodered-garage",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "${MQTT_TOPIC_BASE}/server/status",
    "birthQos": "1",
    "birthRetain": "true",
    "birthPayload": "online",
    "closeTopic": "${MQTT_TOPIC_BASE}/server/status",
    "closeQos": "1",
    "closeRetain": "true",
    "closePayload": "offline",
    "willTopic": "${MQTT_TOPIC_BASE}/server/status",
    "willQos": "1",
    "willRetain": "true",
    "willPayload": "offline",
    "sessionExpiry": "",
    "credentials": {
      "user": "${MQTT_NODERED_USER}",
      "password": "${MQTT_NODERED_PASSWORD}"
    }
  },
  {
    "id": "cfg_mysql",
    "type": "MySQLdatabase",
    "name": "MariaDB",
    "host": "${MYSQL_HOST}",
    "port": "${MYSQL_PORT}",
    "db": "${MYSQL_DATABASE}",
    "tz": "+00:00",
    "charset": "UTF8MB4",
    "credentials": {
      "user": "${MYSQL_USER}",
      "password": "${MYSQL_PASSWORD}"
    }
  }
]
